.grid-image-section {
  padding: 5rem 0;
  width: 100%;
  overflow: hidden;

  .grid-2 {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 2rem;

    img {
      width: 100%;
      height: 100%;
      /* object-fit: cover; */
    }
  }
}
