footer {
  background-color: var(--primary-color);
  padding-top: calc(var(--spacing));
  padding-bottom: calc(var(--spacing));
  color: var(--white-color);
}

footer img {
  width: 6.4rem;
}

footer .container {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.footer__logo {
  display: flex;
  align-items: center;
  gap: 3.6rem;
}

.footer__logo img {
  background-color: var(--white-color);
  padding: 0.7rem;
  border-radius: 50%;
}

footer .socials {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  font-size: 2rem;
}

.icon__nav {
  display: flex;
  gap: 3.5rem;
  align-items: center;
  list-style: none;
}

.icon__nav img {
  width: 4rem;
}
