header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo__class {
  width: 70%;
}

.nav__list {
  display: flex;
  align-items: center;
  gap: var(--f-spacing, 2rem);
}

.register_cta {
  background-color: var(--primary-color);
  color: var(--white-color);
}

.nav__list a {
  position: relative;
}

.nav__list a:hover::after {
  content: "";
  height: 0.165rem;
  /* width: 1rem; */
  display: flex;
  background-color: var(--primary-color);

  position: absolute;
  bottom: -6px;
  left: -6px;

  animation: nav_shift 0.5s forwards;
  /* animation: name duration timing-function delay iteration-count direction fill-mode; */
}

.nav__list .active__nav {
  color: var(--primary-color);
  font-weight: 700;
  position: relative;
}

.nav__list .active__nav::after {
  content: "";
  height: 0.3rem;
  width: 3rem;
  display: flex;
  background-color: var(--primary-color);

  position: absolute;
  bottom: -6px;
  left: -6px;
}

@keyframes nav_shift {
  0% {
    width: 20%;
  }

  25% {
    width: 40%;
  }

  50% {
    width: 60%;
  }

  90% {
    width: 100%;
  }
}
