.form-section {
  margin: 12rem 5rem;
  background-color: var(--primary-color);
  color: var(--white-color);
  width: 85%;
  margin-right: auto;
  margin-left: auto;
  padding: 7rem;

  h3 {
    font-size: 3rem;
    margin-bottom: 8rem;
    text-align: center;
  }

  .form {
    display: flex;
    flex-direction: column;
    gap: 3rem;

    .form-group {
      color: var(--primary-color);
      padding: 3rem;
      border-radius: 22px;
      background-color: var(--white-color);

      label {
        font-size: 1.8rem;
        display: block;
        margin-top: 0.2rem;
        margin-bottom: 1.8rem;
      }

      input,
      select {
        width: 100%;
        font: inherit;
        padding: 2rem;
        border-radius: 16px;
        border: none;
        display: block;
        font-weight: 600;
        background-color: rgb(243, 217, 217);
        color: rgb(125, 19, 19);
      }

      input:focus-visible,
      select:focus-visible {
        border-color: var(--primary-color);
        border: none;
        outline: none;
      }

      option {
        background-color: var(--white-color);
        color: var(--primary-color);
        padding: 2rem;
        border: none;
      }
    }

    .submit-form-group {
      color: var(--primary-color);
      padding: 1.3rem 1.6rem;
      border-radius: 12px;
      background-color: var(--white-color);
      margin-left: auto;
      margin-top: 4rem;

      .submit-text {
        font-size: 2.3rem;
        font-weight: 600;
        color: var(--primary-color);
        background-color: transparent;
        border: none;
      }
    }

    .messages {
      width: 100%;
      font: inherit;
      padding: 2rem;
      border-radius: 16px;
      border: none;
      display: block;
      font-weight: 600;
      background-color: rgb(243, 217, 217);
      color: rgb(125, 19, 19);

      margin-top: 2em;
    }

    .messages:focus-visible {
      border: none;
      outline: none;
    }
  }
}
